footer {
  font-size: 0.5em;
  text-align: right;
}
header {
  text-align: center;
}
#main {
  padding: 1em 0.5em;
}
article {
  padding: 2em 1em;
  min-height: 15em;
  background-color: #cfc;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
