footer {
  font-size: 0.6em;
  text-align: right;
}
header {
  text-align: center;
}
#main {
  padding: 1em 0.5em;
}
article {
  padding: 2em 1em;
  min-height: 15em;
  background-color: #dfd;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
h1 a, h1 a:hover {
  color: #060;
  text-decoration: none;
}
input:focus:required:invalid:focus {
  border-color: yellow;
}
